<div class="container">
	<p>Hello World!</p>
	<h2>Create Account</h2>
	<form action="/users/create" method="post">
		Username<br/>
		<input type="text" name="user[username]"><br/><br/>
		Password<br/>
		<input type="text" name="user[password]"><br/><br/>
		<input type="submit" value="Submit">
	</form>
</div>